src/wsdl/localhost_8080/PPOService/PPO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pposervice.accumed.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pposervice.accumed.com/" name="PPO">
<types>
<xsd:schema>
<xsd:import namespace="http://www.haad.ae/DataDictionary/CommonTypes" schemaLocation="http://localhost:8080/PPOService/PPO?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.pposervice.accumed.com/" schemaLocation="http://localhost:8080/PPOService/PPO?xsd=2"/>
</xsd:schema>
</types>
<message name="getFacilityMonthTransaction">
<part name="parameters" element="tns:getFacilityMonthTransaction"/>
</message>
<message name="getFacilityMonthTransactionResponse">
<part name="parameters" element="tns:getFacilityMonthTransactionResponse"/>
</message>
<message name="readClaimSubmissionFile">
<part name="parameters" element="tns:readClaimSubmissionFile"/>
</message>
<message name="readClaimSubmissionFileResponse">
<part name="parameters" element="tns:readClaimSubmissionFileResponse"/>
</message>
<message name="testRegConnection">
<part name="parameters" element="tns:testRegConnection"/>
</message>
<message name="testRegConnectionResponse">
<part name="parameters" element="tns:testRegConnectionResponse"/>
</message>
<message name="ProcessPendingTransactions">
<part name="parameters" element="tns:ProcessPendingTransactions"/>
</message>
<message name="ProcessPendingTransactionsResponse">
<part name="parameters" element="tns:ProcessPendingTransactionsResponse"/>
</message>
<message name="downloadClaimSubmissionFile">
<part name="parameters" element="tns:downloadClaimSubmissionFile"/>
</message>
<message name="downloadClaimSubmissionFileResponse">
<part name="parameters" element="tns:downloadClaimSubmissionFileResponse"/>
</message>
<message name="saveClaimSubmissionFile">
<part name="parameters" element="tns:saveClaimSubmissionFile"/>
</message>
<message name="saveClaimSubmissionFileResponse">
<part name="parameters" element="tns:saveClaimSubmissionFileResponse"/>
</message>
<message name="getRegulators">
<part name="parameters" element="tns:getRegulators"/>
</message>
<message name="getRegulatorsResponse">
<part name="parameters" element="tns:getRegulatorsResponse"/>
</message>
<message name="signUp">
<part name="parameters" element="tns:signUp"/>
</message>
<message name="signUpResponse">
<part name="parameters" element="tns:signUpResponse"/>
</message>
<message name="getAccountTransactionStatus">
<part name="parameters" element="tns:getAccountTransactionStatus"/>
</message>
<message name="getAccountTransactionStatusResponse">
<part name="parameters" element="tns:getAccountTransactionStatusResponse"/>
</message>
<portType name="PPO">
<operation name="getFacilityMonthTransaction">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/getFacilityMonthTransactionRequest" message="tns:getFacilityMonthTransaction"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/getFacilityMonthTransactionResponse" message="tns:getFacilityMonthTransactionResponse"/>
</operation>
<operation name="readClaimSubmissionFile">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/readClaimSubmissionFileRequest" message="tns:readClaimSubmissionFile"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/readClaimSubmissionFileResponse" message="tns:readClaimSubmissionFileResponse"/>
</operation>
<operation name="testRegConnection">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/testRegConnectionRequest" message="tns:testRegConnection"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/testRegConnectionResponse" message="tns:testRegConnectionResponse"/>
</operation>
<operation name="ProcessPendingTransactions">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/ProcessPendingTransactionsRequest" message="tns:ProcessPendingTransactions"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/ProcessPendingTransactionsResponse" message="tns:ProcessPendingTransactionsResponse"/>
</operation>
<operation name="downloadClaimSubmissionFile">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/downloadClaimSubmissionFileRequest" message="tns:downloadClaimSubmissionFile"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/downloadClaimSubmissionFileResponse" message="tns:downloadClaimSubmissionFileResponse"/>
</operation>
<operation name="saveClaimSubmissionFile">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/saveClaimSubmissionFileRequest" message="tns:saveClaimSubmissionFile"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/saveClaimSubmissionFileResponse" message="tns:saveClaimSubmissionFileResponse"/>
</operation>
<operation name="getRegulators">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/getRegulatorsRequest" message="tns:getRegulators"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/getRegulatorsResponse" message="tns:getRegulatorsResponse"/>
</operation>
<operation name="signUp">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/signUpRequest" message="tns:signUp"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/signUpResponse" message="tns:signUpResponse"/>
</operation>
<operation name="getAccountTransactionStatus">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/getAccountTransactionStatusRequest" message="tns:getAccountTransactionStatus"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/getAccountTransactionStatusResponse" message="tns:getAccountTransactionStatusResponse"/>
</operation>
</portType>
<binding name="PPOPortBinding" type="tns:PPO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFacilityMonthTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readClaimSubmissionFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testRegConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcessPendingTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadClaimSubmissionFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveClaimSubmissionFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegulators">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountTransactionStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PPO">
<port name="PPOPort" binding="tns:PPOPortBinding">
<soap:address location="http://localhost:8080/PPOService/PPO"/>
</port>
</service>
</definitions>