src/wsdl/localhost_9081/PPOService/PPO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pposervice.accumed.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pposervice.accumed.com/" name="PPO">
<types>
<xsd:schema>
<xsd:import namespace="http://www.haad.ae/DataDictionary/CommonTypes" schemaLocation="http://localhost:9081/PPOService/PPO?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.pposervice.accumed.com/" schemaLocation="http://localhost:9081/PPOService/PPO?xsd=2"/>
</xsd:schema>
</types>
<message name="testRegConnection">
<part name="parameters" element="tns:testRegConnection"/>
</message>
<message name="testRegConnectionResponse">
<part name="parameters" element="tns:testRegConnectionResponse"/>
</message>
<message name="ProcessPendingTransactions">
<part name="parameters" element="tns:ProcessPendingTransactions"/>
</message>
<message name="ProcessPendingTransactionsResponse">
<part name="parameters" element="tns:ProcessPendingTransactionsResponse"/>
</message>
<message name="saveClaimSubmission">
<part name="parameters" element="tns:saveClaimSubmission"/>
</message>
<message name="saveClaimSubmissionResponse">
<part name="parameters" element="tns:saveClaimSubmissionResponse"/>
</message>
<message name="readClaimSubmission">
<part name="parameters" element="tns:readClaimSubmission"/>
</message>
<message name="readClaimSubmissionResponse">
<part name="parameters" element="tns:readClaimSubmissionResponse"/>
</message>
<message name="getRegulators">
<part name="parameters" element="tns:getRegulators"/>
</message>
<message name="getRegulatorsResponse">
<part name="parameters" element="tns:getRegulatorsResponse"/>
</message>
<message name="signUp">
<part name="parameters" element="tns:signUp"/>
</message>
<message name="signUpResponse">
<part name="parameters" element="tns:signUpResponse"/>
</message>
<portType name="PPO">
<operation name="testRegConnection">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/testRegConnectionRequest" message="tns:testRegConnection"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/testRegConnectionResponse" message="tns:testRegConnectionResponse"/>
</operation>
<operation name="ProcessPendingTransactions">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/ProcessPendingTransactionsRequest" message="tns:ProcessPendingTransactions"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/ProcessPendingTransactionsResponse" message="tns:ProcessPendingTransactionsResponse"/>
</operation>
<operation name="saveClaimSubmission">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/saveClaimSubmissionRequest" message="tns:saveClaimSubmission"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/saveClaimSubmissionResponse" message="tns:saveClaimSubmissionResponse"/>
</operation>
<operation name="readClaimSubmission">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/readClaimSubmissionRequest" message="tns:readClaimSubmission"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/readClaimSubmissionResponse" message="tns:readClaimSubmissionResponse"/>
</operation>
<operation name="getRegulators">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/getRegulatorsRequest" message="tns:getRegulators"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/getRegulatorsResponse" message="tns:getRegulatorsResponse"/>
</operation>
<operation name="signUp">
<input wsam:Action="http://ws.pposervice.accumed.com/PPO/signUpRequest" message="tns:signUp"/>
<output wsam:Action="http://ws.pposervice.accumed.com/PPO/signUpResponse" message="tns:signUpResponse"/>
</operation>
</portType>
<binding name="PPOPortBinding" type="tns:PPO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="testRegConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcessPendingTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveClaimSubmission">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readClaimSubmission">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegulators">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PPO">
<port name="PPOPort" binding="tns:PPOPortBinding">
<soap:address location="http://localhost:9081/PPOService/PPO"/>
</port>
</service>
</definitions>