src/wsdl/localhost_9081/PPOService/PPO.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.haad.ae/DataDictionary/CommonTypes">

<xs:simpleType name="HeaderDispositionFlag">
<xs:restriction base="xs:string">
<xs:enumeration value="PRODUCTION"/>
<xs:enumeration value="TEST"/>
<xs:enumeration value="PTE_SUBMIT"/>
<xs:enumeration value="PTE_VALIDATE_ONLY"/>
<xs:enumeration value="PTE_RESPONSE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="DiagnosisType">
<xs:restriction base="xs:string">
<xs:enumeration value="Principal"/>
<xs:enumeration value="Secondary"/>
<xs:enumeration value="Admitting"/>
<xs:enumeration value="ReasonForVisit"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="DxInfoType">
<xs:restriction base="xs:string">
<xs:enumeration value="POA"/>
<xs:enumeration value="Year of Onset"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ObservationType">
<xs:restriction base="xs:string">
<xs:enumeration value="CPT"/>
<xs:enumeration value="HL7v3 Native"/>
<xs:enumeration value="LOINC"/>
<xs:enumeration value="SNOMED CT"/>
<xs:enumeration value="Text"/>
<xs:enumeration value="File"/>
<xs:enumeration value="Flags"/>
<xs:enumeration value="Universal Dental"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ResubmissionType">
<xs:restriction base="xs:string">
<xs:enumeration value="correction"/>
<xs:enumeration value="internal complaint"/>
<xs:enumeration value="legacy"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>